<%# チャット画面ヘッダー %>
<div class="chat-header">
  <div class="current-room">Room_X</div>
  <div class="chat-edit">
    <div class="chat-edit-btn"><a href="#">チャットを終了する</a></div>
  </div>
</div>
<%# チャット画面メッセージ %>
<div class="chat-messages">
  <div class="chat-message">
    <div class="chat-message_upper">
      <div class="chat-message_name">太郎さん</div>
      <div class="chat-message_date">2022/4/1(Monday) 12:00:00</div>
    </div>
    <div class="chat-message_text">
      はじめまして、太郎と申します。
    </div>
  </div>
    <div class="chat-message">
    <div class="chat-message_user-info">
      <div class="chat-message_name">花子さん</div>
      <div class="chat-message_date">2022/4/1(Monday) 12:00:00</div>
    </div>
    <div class="chat-message_text">
      はじめまして、花子と申します。
    </div>
  </div>
</div>
<%# チャット画面フォーム %>
<div class="chat-form-wapper">
  <form class="chat-form"> 
    <input type="text" placeholder="type a message" class="chat-form_text">
    <label class="form-image">画像
      <input type="file" class="hidden">
    </label>
    <input type="submit" class="chat-form_send">
  </form>
</div>