<div class="chat-message">
  <div class="chat-message_upper">
    <div class="chat-message_name">
      <%= message.user.name%>
    </div>
    <div class="chat-message_date">
      <%= l message.created_at%>
    </div>
  </div>
  <div class="chat-message_text">
    <%= message.content%>
  </div>
  <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
</div>