<div class="side-bar-header">
  <div class="user-name"><a href="#">Name</a></div>
  <div class="create-btn-inner">
    <div class="create-btn"><a href="#">チャットを作成する</a></div>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name"><a href="#">Room_1</a></div>
  </div>
  <div class="room">
    <div class="room-name"><a href="#">Room_2</a></div>
  </div>
</div>